:root {
  --white: #f2f2f2;
  --black: #141313;
  --purple: #b985fe;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--black);
  color: var(--white);
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--black);
  border-right: 1px solid var(--purple);
}

.side-quest-bar {
  width: 300px;
  padding: 10px;
  background-color: var(--black);
  border: 1px solid var(--purple);
  border-radius: 8px;
  margin-left: 20px;
  color: var(--white);
}

.side-quest-bar h2 {
  text-align: center;
  color: var(--purple);
}

.side-quest-bar ul {
  list-style-type: none;
  padding: 0;
}
