/* .view-all-quests {
    padding: 20px;
    background-color: var(--black);
    color: var(--white);
    flex: 1;
  }
  
  .view-all-quests h2 {
    text-align: center;
    color: var(--purple);
  }
  
  .quest-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .back-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .back-button button {
    background-color: var(--purple);
    color: var(--white);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button button:hover {
    background-color: #9a6edc;
  }
   */